// Colours from EA colour style guide on Easinet
.defra-tag-experimental {
  background-color: #820053;
}
.defra-tag-untested {
  background-color: #d95f15;
}
.defra-tag-tested {
  background-color: #00A33b;
}
.defra-tag-in-service {
  background-color: #034b89;
}
