
{% extends "layout.html" %}

{% block pageTitle %}
  Next Steps - Defra pattern library
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Common footer</h1>
      <p>Provide users with clear information, and links to content common to all digital services.</p>
      <h3 class="govuk-heading-m">When to use this pattern</h3>
      <p>Use this as the default footer for your service, adding additional content as additional user needs are identified.</p>
    </div>
</div>

{% endblock %}
