
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Defra pattern library
      </h1>
      <p>
        This library contains patterns in use for Defra services, and extends those available in the Government Design System.
      </p>
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Table of patterns
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="patterns/common-footer" aria-describedby="commonfooter-status">
                Common footer
              </a>
              <strong class="govuk-tag app-task-list__task-completed defra-tag-untested" id="commonfooter-status">untested</strong>
            </li>
             <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="patterns/next-steps" aria-describedby="nextsteps-status">
                Next steps boxout
              </a>
              <strong class="govuk-tag app-task-list__task-completed defra-tag-tested" id="nextsteps-status">tested</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="patterns/task-list" aria-describedby="nextsteps-status">
                Task list
              </a>
              <strong class="govuk-tag app-task-list__task-completed defra-tag-experimental" id="nextsteps-status">experimental</strong>
            </li>
          </ul>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Government examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
